
@{
    ViewData["Title"] = "API Client Angular Professionals";
}

<h1>Professionals</h1>

<div id="professionalsContainer" ng-app="professionalsApp">
    <div ng-controller="professionalsController">
        <table class="table">
            <tbody>

                <tr>
                    <td>
                        <strong>Id</strong>
                    </td>
                    <td>
                        <strong>First Name</strong>
                    </td>
                    <td>
                        <strong>Last Name</strong>
                    </td>
                    <td>
                        <strong>Date of Birth</strong>
                    </td>
                    <td>
                        <strong>Education</strong>
                    </td>
                    <td>
                        <strong>Work Experience</strong>
                    </td>
                    <td>
                        <strong>Speciality</strong>
                    </td>
                    <td>
                        <strong>Phone Number</strong>
                    </td>
                    <td>
                        <strong>Email</strong>
                    </td>
                    <td>
                        <strong>Address</strong>
                    </td>
                </tr>

                <tr ng-repeat="professional in professionals">
                    <td>
                        {{professional.id}}
                    </td>
                    <td>
                        {{professional.firstName}}
                    </td>
                    <td>
                        {{professional.lastName}}
                    </td>
                    <td>
                        <label ng-bind="formatDate(professional.doB) | date:'dd/MM/yyyy'"></label>
                    </td>
                    <td>
                        {{professional.education}}
                    </td>
                    <td>
                        {{professional.workExperience}}
                    </td>
                    <td>
                        {{professional.speciality}}
                    </td>
                    <td>
                        {{professional.phoneNo}}
                    </td>
                    <td>
                        {{professional.email}}
                    </td>
                    <td>
                        {{professional.address}}
                    </td>
                    <td>
                        <input type="button" class="btn-danger" value="x" ng-click="delete(professional)" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" value="Edit" ng-click="edit=ture(professional)" />
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td>
                        <input ng-model="firstName" placeholder="First name" type="text" />
                    </td>
                    <td>
                        <input ng-model="lastName" placeholder="Last name" type="text" />
                    </td>
                    <td>
                        <input ng-model="doB" placeholder="Date of Birth" type="date" />
                    </td>
                    <td>
                        <input ng-model="education" placeholder="Education" type="text" />
                    </td>
                    <td>
                        <input ng-model="workExperience" placeholder="Work experience" type="text" />
                    </td>
                    <td>
                        <input ng-model="speciality" placeholder="Speciality" type="text" />
                    </td>
                    <td>
                        <input ng-model="phoneNo" placeholder="Phone number" type="text" />
                    </td>
                    <td>
                        <input ng-model="email" placeholder="Email" type="email" />
                    </td>
                    <td>
                        <input ng-model="address" placeholder="Address" type="text" />
                    </td>
                    <td>
                        <input class="btn-primary" ng-click="add()" type="button" value="+" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<style>
    pre {
        white-space: pre-wrap;
    }
</style>

@section Scripts {
   
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
    <script>
        angular.module('professionalsApp', [])
            .controller('professionalsController', function ($scope, $http) {
                $http.get("@Url.Action("GetProfessionals", "Professionals")").then(function (response) {
                    $scope.professionals = response.data;
                });

                $scope.formatDate = function (date) {
                    return new Date(date);
                }

                $scope.add = function () {
                    var professional = {
                        firstName: $scope.firstName,
                        lastName: $scope.lastName,
                        doB: $scope.doB,
                        education: $scope.education,
                        workExperience: $scope.workExperience,
                        speciality: $scope.speciality,
                        phoneNo: $scope.phoneNo,
                        email: $scope.email,
                        address: $scope.address
                    };

                    $http.post("@Url.Action("PostProfessional", "Professionals")", professional).then(function (response) {
                        $scope.professionals.push(response.data);
                    });

                    $scope.firstName = '';
                    $scope.lastName = '';
                    $scope.doB = '';
                    $scope.education = '';
                    $scope.workExperience = '';
                    $scope.speciality = '';
                    $scope.phoneNo = '';
                    $scope.email = '';
                    $scope.address = '';
                }
                $scope.delete = function (professional) {
                    $http.delete("@Url.Action("PostProfessional", "Professionals")/" + professional.id).then(function (response) {
                        var index = $scope.professionals.indexOf(professional);
                        $scope.professionals.splice(index, 1);
                    });
                }
            });
    </script>
}

